

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


span.label a {
	color:#fff;
}
.drip {
color: #EEE;
text-shadow: 14px 4px 1px #300000;
4px 6px 1px #400000; 4px 8px 1px #500000; /*......and so on, until*/ 4px 60px 5px #FF0000;
}

.comments{

font-size: 5px;

}

.pic{

display: block;
float: left;
margin: 5px;
width: 210px;
}

.main-pic{

display: block;
float: left;
margin: 5px;
width: 400px;


}

.demographics{

font-family: Helvetica;
font-size: 16px;


}










