{% extends "layout/main.html" %}



{% block body %}

 <div class="container"><h1>
            <center><img src="{{ url_for('static', filename='img/s.gif')}}" width = 40 />CREAM
            <img src="{{ url_for('static', filename='img/b.gif')}}" width = 40 />OOTH @
            <img src="{{ url_for('static', filename='img/i.gif')}}" width = 25 />
            <img src="{{ url_for('static', filename='img/t.gif')}}" width = 40 />
            <img src="{{ url_for('static', filename='img/p.gif')}}" width = 40 />
           
            <hr>

            <div class = "row">

{% for p in photos %}
<script language="javascript">
screamphotoTime = "30000";
screamphotoURL = "http://screambooth.herokuapp.com/";
function redirTimer() { self.setTimeout("self.location.href = screamphotoURL;", screamphotoTime); }
</script>
<body bgcolor="#FFFFFF">

<div class ="pic">
<a href="/photos/{{ p.img }}"><img src ="http://s3.amazonaws.com/screambooth/{{ p.event }}/{{ p.img }}.gif" width = 200 height = 200 /></a>
<br>
<h6>
Comments  ({{ p.comments|length }})
</h6>
</div>
{% endfor %}


{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}