{% extends "layout/main.html" %}



{% block body %}

<div class="row">

	<!-- left column -->
	<div class="span6 offet4">
		<h3>My Show Calendar</h3>
		
		
			<h4>Sign Up</h4>
			
	</div>
</div>

<div class="row">

	<div class="span4">
		<a href="/addmember.html">Sign Up As a Fan</a>
	</div>

	<div class="span4">
		<a href="/addband.html">Sign Up As a Band</a>
			
	</div>

	<div class="span4">

		<a href="/addvenue.html">Sign Up As a Venue</a>

	</div>
	<br>
	<br>
	<br>
	<br>

</div>

<div class="row">

<div class = "span4 offset2"><h4>Already Signed Up?</h4></div>
<div class = "span4"><a href="/login.html">Login</a></div>

</div>


{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}