{% extends "layout/main.html" %}


{% block body %}

    <div id="scream0">
	    <div id="scr0"><center>
	        <img src="img/arduino.gif"><img src="plus.png">
	        <img src="img/processingpython.gif"><img src="plus.png">
	        <img src="img/services.gif"><img src="plus.png">
	        <img src="img/camera.gif"><img src="plus.png">
	        <img src="img/us.gif"><img src="plus.png">
	        <img src="img/you.gif"><img src="equal.png"></center>
	    </div>
    </div>

<center><a href="main.html"><img src="img/screamboothtext.png" class="shake"></a>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}